@import-normalize;

.header {
  height: 80px;
  background-color: tomato;
  color: black;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.logo {
  font-size: 30px;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
